.main {
    text-align: center;
}

.main--logo {
    height: 40vmin;
}

.layout {
    background-color: #282c34;
    color: white;
    min-height: 100vh;
    padding-bottom: 128px;
    overflow: scroll;
}
